body{
    font-family: 'DM Sans', sans-serif; 
}


.container_flex, .footer_flex , .about_section, .fex, .sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1070px;
    margin: 0 auto;
    padding: 38px 0px 48px;

}
.flexix{
    display: flex;
    justify-content:left ;
    padding-left:500px;
    
}
.container1{
    background: rgba(255, 113, 67, 0.27);

}
.nav__li{
    display: inline-block;
}
.nav__li:not(:first-of-type){
    margin-left: 49px;
}
.nav__link{
 font-weight: bold;
font-size: 15px;
line-height: 20px;
letter-spacing: -0.468947px;
color: #696871;
text-decoration: none;
}
.nav__link:hover{
    color: black;
    transition: 300ms;
}
.button{
    width: 212.39px;
    height: 60px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.button__orange{
    background-color: #FF7143;
}
.button__orange:hover{
    background-color: #b84119;
    transition: 500ms;
}
.about_section{
    margin: 105px auto 85px;
}
.about_tittle{
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    max-width: 467px;
    margin-bottom: 30px;

    letter-spacing: -2.50105px;

    color: #19191B;

}
.about_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 410px;
    height: 90px;
    margin-bottom: 50px;
}
.voiletbut{
    background-color:#5454D4; ;
}
.voiletbut:hover{
    background-color: rgb(253, 251, 252);
    color: #5454D4;
    border: 1px solid #5454D4;
}
.transparant{
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
}
.transparant:hover{
    background-color: #5454D4;
    color: white;
}
.footer{
    background: rgba(255, 113, 67, 0.27);
    padding: 53px 0px;
}
.sub{
    margin: bottom 58px;

}
.subh2{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B; 
    margin-bottom: 38px;
}
.input{
    width: 302px;
    height: 60px;
    border: 1px solid #7087FF;
    border-radius: 10px;
    padding-left: 14px;
    box-sizing: border-box;
    margin-right: 39px;
}
.input::placeholder, .input{
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    
    color: #000000;
}
.input:focus{
    outline: none;
}
.text{
    font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 70px;
/* or 117% */
letter-spacing: -1.87579px;
color: #19191B;
max-width: 504px;
margin-bottom: 110px;
}
.plan{
    margin-bottom: 132px;
}

.planner{
    background: #F8F8F8;
    border-radius: 10px;
    Width:330px;
    text-align: center;
    padding: 34px 0 27px;
}
.planner:hover{
    background: #FF7143;
    box-shadow: 0px 32px 34px;
    transition: 500ms;
}
.planner:hover .item__title,.planner:hover .texp,.planner:hover .item__li{
    color: white;
    transition: 500ms;
}
.planner:hover .butt{
    background-color: #9F3919;
    color: white;
    transition: 500ms;
}
.texp{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.562737px;
    color: #696871;


}

.item__title{
    font-weight:bold;
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #1D293F;
    margin:22px 0 28px;
}
.item__title span{
    font-size: 28px;
}
.item__li{
    list-style: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #696871;
}
.butt{
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #5454D4;
    background: white;
    width: 285px;
    height: 60px;
    margin-top: 36px;
}
@media  screen and (max-width: 750px) {
.container{
    max-width: 500px;
    
}

.nav{
    display: none;
}
.transparant{
    margin-left: 0;
}
.about_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sub{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.none{
    display: none;
}
.oran{
    display: flex;
    padding-left: 100px;
}
.fex{
    flex-direction: column;
}
.planner:not(:last-of-type){
    margin-bottom: 40px;
}
.footer_flex{
    flex-direction: column;
}
.nav__li{
    
    margin-top: 30px;
}
.footer{
    height: 179px;
}
.voiletbut{
    margin-top: 20px;
}
.first{
    margin-top: 20px;
}
.transparant{
    margin-left: 20px;
}


}